body{
    font-size:16px;
    color:#666;
}
header{
    background-color:#fff;
    box-shadow: 10px 0 60px #00000050;
    padding-block:1rem
}
input, button{
    padding:1rem 2rem;
    border-radius: 10px;
    border:2px solid transparent;
}
input{
    background-color:#eee;
}
.main__header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    max-width:280px;
    width:100%;
}
.section{
    padding-block:4rem;
}
.login__section{
    background-image: url(./assets/images/login-background.png);
    min-height: calc( 100vh - 103px);
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    padding: 0;
}
.home__section{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.home__section h1{
    text-align: center;
}
.container{
    max-width:1320px;
    margin-inline: auto;
    padding-inline:10px;
    width: 100%;
}
.btn{
    background-color:#92d828;
    padding:10px 20px ;
    color:#fff;
    box-shadow: 0px 10px 10px #00000030;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.form__container {
    background-color:#fff;
    padding:60px 40px;
    box-shadow: 0 0 30px #00000030;
    border-radius: 10px;
    max-width: 768px;
    margin-inline:auto;
}
.form__container form{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
.login__logo{
    margin-bottom:2rem;
    margin-inline:auto;
}
.form__container .btn{
    padding-block:1rem;
}
.form__footer{
    margin-block:1rem;
    color:#888;
}
.form__footer p:first-child{
    text-align: center;
}